body {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: blue;
    color: white;
    cursor: pointer;
    padding: 10px;
    font-size: large;
    border: none;
    border-radius: 15%;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
input {
    padding: 15px;
    font-size: 1.5rem;
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
#main-heading {
    text-align: center;
}
#stats {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.hide{
    display: none;
}
#text-display {
    font-size: 3rem;
    text-align: center;
}